*{	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat, sans-serif;
}

a{
	color: #7c8ab7;
	font-weight: bold;
	text-decoration: none;

}

p{
	margin: 10px 0;
}

form{
	display: flex;
	flex-direction: column;
	width: 400px;
}
input{
	margin: 10px 0;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
}
button{
	padding: 10px;
	background: #e3e3e3;
	border: unset;
	cursor: pointer;
}

.msg {
	border: 2px solid #32CD32;
	border-radius: 2px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}


.logout{
	text-align: center;
	color: #b7625c;	
}

/* Стилизация списка мероприятий в профиле */
#profile-events-list {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем стандартный отступ слева */
    margin-top: 20px; /* Отступ сверху от других элементов */
}

#profile-events-list li {
    background-color: #f9f9f9; /* Легкий фон для каждого элемента списка */
    border: 1px solid #ddd; /* Рамка вокруг элемента */
    margin-bottom: 10px; /* Отступ между элементами списка */
    padding: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Скругленные углы */
    display: flex; /* Используем flexbox для выравнивания содержимого */
    justify-content: space-between; /* Распределяем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
}

#profile-events-list li a {
    /* Стилизация кнопки "Отменить" внутри списка */
    color: #dc3545; /* Цвет текста кнопки "Отменить" */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    padding: 5px 10px;
    border: 1px solid #dc3545;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#profile-events-list li a:hover {
    background-color: #dc3545;
    color: white;
}