{% extends "base.html" %}

{% block header_text %}
<b>Спорт</b>
{% endblock %}



{% block info %}
    <table class="sports-table">
    {% for index in range(number) %}
            <tr>

                <td>
                    {{data[index]['s_id']}}
                </td>
                <td>
                    {{data[index]['name']}}
                </td>
                <td>
                    {{data[index]['price']}}
                </td>
                <td>
                    {{data[index]['date']}}
                </td>
                <td>

                    <a href="/sport/{{index+1}}"><img src=static/{{data[index]['image']}} alt="" height="80px"></a>

                </td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}
